@{
    ViewData["Title"] = "Home Page";
}

@model Bookish.Models.MemberBookListViewModel;

<div class="text-center">
    <h1 class="display-4">@Model.CopyList[0].Member.Name's book list</h1>

   <div>
        <table style="width: 100%" border="solid">

        <tr>
            <th>Copy Id</th>
            <th>Title</th>
            <th>Issue Date</th>
            <th>Due Date</th>
        </tr>
        @foreach (var copy in @Model.CopyList)
        {
            <tr>
                <td>@copy.CopyId</td>
                <td>@copy.Book.Title</td>
                <td>@copy.IssueDate</td>
                <td>@copy.DueDate</td>
            </tr>
            
        }
        </table>
    </div>
</div>
